@import '../node_modules/bootstrap/scss/bootstrap-reboot';

body {
    background-color: black;
}

body.scrolling {
    animation: bg-flip 1s infinite,
               bg-scroll 2s infinite;
    animation-timing-function: step-end, linear;
}

.video-container {
    margin: auto;
}

.current-card  {
    display: block !important;
}

.card {
    display: none;
    font-size: 24pt;
}

.content {
    margin: auto;
    position: relative;
    background-color: black;
    text-align: center;
    width: 320px;
    height: 320px;

    &.animated {
        animation: rainbow 0.33s infinite;
        animation-timing-function: step-end;
        animation-direction: alternate;
    }
}

.skeletor {
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://gifs.hippuu.fi/g/112197.gif');
}

@media (min-height: 720px) {
    .content {
        height: 720px;
        width: 1280px;
    }

    h1 {
        font-size: 100pt;
    }
}

span {
    display: inline-block;
    font-size: 30px;
}

span.left {
    float: left;
}

span.right {
    float: right;
}


@keyframes bg-flip {
    0% {
        background-image: url("../bg/lehto1.jpeg");
    }
    33% {
        background-image: url("../bg/lehto2.jpeg");
    }
    66% {
        background-image: url("../bg/lehto3.jpeg");
    }

}

@keyframes bg-scroll {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    100% {
        background-position-x: 100%;
        background-position-y: -100%;
    }
}

@keyframes rainbow {
    0% {
        background-color: hsl(0, 100%, 50%);
        color: hsl(180, 100%, 50%);
    }
    33% {
        background-color: hsl(90, 100%, 50%);
        color: hsl(270, 100%, 50%);
    }
    66% {
        background-color: hsl(180, 100%, 50%);
        color: hsl(360, 100%, 50%);
    }
    100% {
        background-color: hsl(360, 100%, 50%);
        color: hsl(90, 100%, 50%);
    }
}